/F24_CSc84040-GC-Schedule.pdf
/F24-CSc84040-GC-Syllabus.pdf
/instacart-market-basket-analysis/
/aisles.csv
/departments.csv
/order_products__piror.csv
/order_products__train.csv
/orders.csv
/products.csv
/sample_submission.csv
/scratch.py
/.idea
/venv
